<?xml version="1.0" encoding="utf-8"?>
<!--
  如需如何設定 ASP.NET 應用程式的詳細資訊，請瀏覽
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="WebService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
     <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <applicationSettings>
    <WebService.Properties.Settings>
      <setting name="WebService_cn_com_webxml_www_WeatherWebService"
        serializeAs="String">
        <value>http://www.webxml.com.cn/WebServices/WeatherWebService.asmx</value>
      </setting>
    </WebService.Properties.Settings>
  </applicationSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="PARKtoXMLService2Soap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://60.249.237.10/Service/PARKtoXMLService2.asmx"
        binding="basicHttpBinding" bindingConfiguration="PARKtoXMLService2Soap"
        contract="ServiceReference1.PARKtoXMLService2Soap" name="PARKtoXMLService2Soap" />
    </client>
  </system.serviceModel>
</configuration>
